
@model Vente_Aux_Enchere_Site.Models.Bien

<br /><br />

@{
    ViewBag.Title = "Encherir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("UpdateEnchere", "Bien", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BienId)
        @Html.HiddenFor(model => model.Designation)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.EtatBien)
        @Html.HiddenFor(model => model.PrixInitial)
        @Html.HiddenFor(model => model.UtilisateurId)
        @Html.HiddenFor(model => model.DatePublication)
        @Html.HiddenFor(model => model.DateVente)
        @Html.HiddenFor(model => model.CategorieId)
        @Html.HiddenFor(model => model.Photo)
        @Html.HiddenFor(model => model.URL_Photo)

        

        
            <div class="col-xs-12 col-sm-3">

                @if (Convert.ToInt32(Session["UtilisateurId"]) != Convert.ToInt32(Model.UtilisateurId))
                    {
                    <div class="form-group">

                        @Html.EditorFor(model => model.PrixVente, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proposez un prix" } })
                        @Html.ValidationMessageFor(model => model.PrixVente, "", new { @class = "text-danger" })
                        <br /><br />


                        <button type="submit" class="btn btn-success btn-block" ><span class="glyphicon glyphicon-floppy-disk"></span> Encherir</button>
                        @*<a href="~/Utilisateur/AfficherUser/@Model.Utilisateur.UtilisateurId" class="btn btn-info btn-xs">@Html.DisplayFor(modelItem => Model.Utilisateur.Pseudo)</a>*@


                    </div>
                    }
                
                <div class="form-group">

                    @if (Convert.ToInt32(Session["UtilisateurId"]) == Convert.ToInt32(Model.UtilisateurId))
                        {
                        <a onclick="Delete(@Model.BienId)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-folder-close"></span>Fermer la Vente</a>
                        }
                </div>
                @*<div class="form-group">
                    <label class="label-danger"> @ViewBag.PrixMessage</label>
                </div>*@

                <br /><br />
                <div class="form-group">
                    <a href='javascript:history.go(-1)'>Retour à la page precedente</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">

                    @*@{Html.RenderAction("DetailEnchere1", "Enchere");}*@
                   

                </div>

            </div>

            <div class="col-xs-12 col-sm-3">
                <div class="form-group">

                    @*@{Html.RenderAction("AfficherBien1");}*@
                </div>
            </div>

        <div class="col-xs-12 col-sm-3">
            <div class="form-group">

                @*@Html.Partial("_AfficherUser")*@
            </div>
        </div>

        </div>

}





@section scripts{

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



    <script>
        document.getElementById('titre').style.textAlign = 'right'
        document.getElementById('titre').style.color = 'orange';
        document.getElementById('titre').style.fontSize = '20px';
       
        document.getElementById('titre1').style.textAlign = 'right'
        document.getElementById('titre1').style.color = 'orange';
        document.getElementById('titre1').style.fontSize = '20px';

        document.getElementById('titre2').style.textAlign = 'right'
        document.getElementById('titre2').style.color = 'orange';
        document.getElementById('titre2').style.fontSize = '20px';

        document.getElementById('titre3').style.textAlign = 'right'
        document.getElementById('titre3').style.color = 'orange';
        document.getElementById('titre3').style.fontSize = '20px';
    </script>

    <script>
        $(function () {
            var succesMessage = '@TempData["SuccessMessage"]'
            if (succesMessage != '')
                alertify.success(succesMessage);
        });

        function Delete(id) {
            alertify.confirm('Vente aux enchères', 'Voulez vous enlever ce produit ?', function () {
                window.location.href = '@Url.Action("RemoveBien", "Bien")/' + id;
            }, null);
        }
    </script>
}