@model IEnumerable <Vente_Aux_Enchere_Site.Models.Bien>


@*@helper Truncate(string input, int length)
    {
        if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using PagedList.Mvc;
@using PagedList;*@




@*<h2>Bienvenue:@Session["Utilisateur.Prenom"].ToString()</h2>*@
<br />
<section class="body-content">
    <div class="row">
        <div class="col-xs-12 col-sm-4">

            <div class="container">
                @using (Html.BeginForm("TestSearch","Bien",FormMethod.Get))
                {
                    <b>Search </b>@Html.RadioButton("searchby", "Designation")<b>Designation</b>
                     @Html.RadioButton("searchby", "Description")<b>Description</b>
                    @Html.TextBox("search")<input type="submit" value="Search" />
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            @if (User.IsInRole("User"))
            {
                <a href="~/Bien/NewBien/" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-ok"></span> Ajouter un Produit</a>
            }


        </div>

        <div class="col-xs-12 col-sm-4">

            @*Page  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page_bien => Url.Action("Index", "Bien", new { page_bien = page_bien }))*@

        </div>
    </div>



    <div class="container">

        <div class="table-responsive">
            <table class="table table-responsive table-striped text-center ">
                <thead class="table-heading">
                    <tr>
                        <th>PRODUIT</th>
                        <th>PRIX INITIAL</th>
                        <th>PRIX ACTUEL </th>
                        <th>DESCRIPTION</th>
                        <th>ETAT DU PRODUIT</th>
                        <th>IMAGE DU PRODUIT</th>

                        <th>CATEGORIE</th>
                        <th>DATE DE PUBLICATION</th>
                        <th>DATE FIN ENCHERE</th>
                        <th>TEMPS RESTANT</th>
                        <th>VENDEUR</th>
                        @*<th> ENCHERE</th>*@
                        @if (User.IsInRole("Administrateur"))
                        {
                            <th colspan="2" class="text-center">OPERATIONS</th>
                        }

                    </tr>

                </thead>



                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation)

                            </td>
                            <td>
                                $   @Html.DisplayFor(modelItem => item.PrixInitial)
                            </td>
                            <td>
                                $  @Html.DisplayFor(modelItem => item.PrixVente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EtatBien)
                            </td>
                            <td>
                                <img src="@item.URL_Photo/@item.Photo " width="100" height="80" class="img-responsive" />
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Categorie.NomCategorie)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DatePublication)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateVente)
                            </td>

                            <td>
                                @*@{  DateTime.Now - <span>  @item.DateVente</span>


                                    }*@
                                @*@ViewBag.tempsrestant*@
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Utilisateur.Pseudo)

                            </td>

                            @*<td class="align-center"> <a href="~/Bien/ModifierEnchere/@item.BienId" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-credit-card"></span> Encherir</a></td>*@
                            @if (User.IsInRole("Administrateur"))
                            {
                                <td class="align-center"> <a href="~/Bien/ModifierBien/@item.BienId" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Modifier</a></td>
                            }
                            @*<td class="align-center"> <a href="~/Bien/RemoveBien/@item.BienId" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></td>*@

                            @if (User.IsInRole("Administrateur"))
                            {
                                <td>  <a onclick="Delete(@item.BienId)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>Supprimer</a></td>
                            }


                        </tr>
                    </tbody>
                }


            </table>


        </div>
    </div>
</section>


@section scripts{
    <script>
            $(function () {
                var succesMessage = '@TempData["SuccessMessage"]'
                if (succesMessage != '')
                    alertify.success(succesMessage);
            });

            function Delete(id) {
                alertify.confirm('Vente aux enchères', 'Voulez vous supprimer cet enregistrement ?', function () {
                    window.location.href = '@Url.Action("RemoveBien", "Bien")/' + id;
                }, null);
            }
    </script>
    @*<script type="text/javascript">
            var date1 = new Date("12/12/2020");
            var date2 = new Date("12/12/2021");
            // différence des heures
            var time_diff = date2.getTime() - date1.getTime();
            // différence de jours
            var days_Diff = time_diff / (1000 * 3600 * 24);
            // afficher la différence
            alert(days_Diff);
        </script>*@
    @*<script>
            $(document).ready(function () {

                $("#buton1").click(function () {

                    alert("hello")

                })

            })


        </script>*@
}
